.image-container img {
  width: 100%;
}

.split {
  display: grid;
  grid-template-columns: 90px 1fr;
  grid-column-gap: 2rem;
  margin-bottom: 2rem;
}

.time {
  margin-top: 0;
}


@media(min-width: 800px) {
  .split {
    margin-left: 2rem;
    grid-template-columns: 130px 1fr;
  }
}
