.image-container img {
  width: 100px;
  display: none;
}

.split {
  margin-bottom: 2rem;
}

.time {
  margin-top: 0;
}

@media(min-width: 400px) {

  .image-container img {
    display: block;
    width: 100%;
  }

  .split {
    display: grid;
    grid-template-columns: 90px 1fr;
    grid-column-gap: 2rem;
    margin-bottom: 2rem;
  }
}

@media(min-width: 800px) {
  .split {
    margin-left: 2rem;
    grid-template-columns: 130px 1fr;
  }
}
