.player {
  position: fixed;
  bottom: 0;
  width: 100%;
  display: flex;
  padding: 3px;
  background-color: #2f2f2c;
  align-items: center;
}

.player-meta {
  color: #ffffff;
  font-size: 0.75rem;
  overflow: hidden;
  width: 150px;
  position: relative;
}

.no-break {
  white-space: nowrap;
  animation: marquee 25000ms alternate infinite linear;
  animation-delay: 10000ms;
  left: 0;
  position: absolute;
}

@keyframes marquee {
  0% {
    left: 0;
  }

  25% {
    left: 0;
  }

  75% {
    left: -160px;
  }

  100% {
    left: -160px;
  }
}
