.player {
  position: fixed;
  bottom: 0;
  width: 100%;
  display: flex;
  padding: 3px;
  background-color: #2f2f2c;
  align-items: center;
}

.player-meta {
  color: #ffffff;
  font-size: 0.75rem;
}
